
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

 .hidden {
     display: none;
 }

 .inline-flex {
     display: inline-flex;
 }

 .delete-cross {
     color: red;
     outline: none;
     border: none;
     font-size: 18px;
     display: inline;
     cursor: pointer;

 }

