
/**
 * @file
 * Quickfix stylesheet file.
 *
 * Contains immediate fixes that should be revised later and added in the
 * main.css.
 */

 .hidden {
     display: none;
 }

 .inline-flex {
     display: inline-flex;
 }

 .delete-cross {
     color: red;
     outline: none;
     border: none;
     font-size: 18px;
     display: inline;
     cursor: pointer;

 }

 .album-header {
     font-size: 16px;
 }

 .albums {
     padding-left: 0px;
 }

 .albums, .songs {
    list-style-type: none;
 }

 .albums-item {
    padding: 8px;
 }

 .songs-item {
    padding: 5px;
 }

 .album-name {
     padding-left: 15px;
     font-size: 16px;
     color: black;
 }

 .song-name {
    padding-left: 15px;
    font-size: 14px;
    color: rgb(255, 170, 0);
 }


song-items
song-items  
